@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.category-list{
  max-height: calc(100vh - 200px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
